body {
  background-color: #eeabce;
  font-family: "Bebas Neue", sans-serif;
}

/* Aspect ratio based on nord lead 900/296 = 3.0405405405 296/900 = 0.32.8888888893 */
.synth {
  background-color: #09743e;
  position: relative;
  width: 100%;
  padding-top: 70%;
  border-radius: 0.5rem;

  @media screen and (min-width: 1025px) {
    padding-top: 32.8888888893%;
  }
}
